In [1]:
import pandas as pd

In [16]:
purchases_df = pd.read_table("../data/supermarket_purchases", delimiter=" ")
purchases_df.tail()

          customer_id  product_id  shop_id  quantity
24638720        60365        3894        1         3
24638721        60365        3896        1         1
24638722        60365        3897        1         1
24638723        60366        1514        1         1
24638724        60366        3296        1         1

In [17]:
distances_df = pd.read_table("../data/supermarket_distances", delimiter=" ")
distances_df.tail()

        customer_id  shop_id     distance
301825        60366        1  1025.586656
301826        60366        2  3444.822302
301827        60366        3  1823.853162
301828        60366        4   869.902903
301829        60366        5   959.005225

In [18]:
prices_df = pd.read_table("../data/supermarket_prices", delimiter=" ")
prices_df.tail()

      product_id  price
4562        4563  3.860
4563        4564  3.695
4564        4565  5.958
4565        4566  3.257
4566        4567  2.443